%h2= @web_app.name

%table.table.table-bordered
  %tbody

    %tr
      %td URL
      %td= link_to @web_app.url, @web_app.url if @web_app.url.present?
    %tr
      %td git Repo Name
      %td= @web_app.git_name
    %tr
      %td Server Alias(es)
      %td= @web_app.aka.blank? ? "-" : @web_app.aka

%h3 Nginx Hosts
%h5 Reverse Proxy(ies)
%table.table.table-bordered
  %thead
    %tr
      %th Server
      %th Port (External Listener)
      %th Environment
  %tbody
    - @nginx_vhosts.each do |nginx|
      %tr
        %td= nginx.dns_name
        %td= nginx.upstream_port
        %td= nginx.environment

%h3 Individual Instances
%h5 Rails Application(s)
%table.table.table-bordered
  %thead
    %tr
      %th Server
      %th Port (Rails App Listener)
      %th Environment
  %tbody
    - @wais.each do |wai|
      %tr
        %td= wai.dns_name
        %td= wai.downstream_port
        %td= wai.environment
        %td= wai.server
